.Table {
  margin: 0 auto;
}

.TableHeadRow {
  border-spacing: 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.HeadItem {
  padding: 10px 20px;
  background: hsl(209, 75%, 60%);
  color: #fff;
  border-right: 2px solid;
  font-size: 0.9em;
}
.HeadItem:first-child {
  text-align: left;
}
.HeadItem:last-child {
  border-right: none;
}
.TableItem {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #56433d;
}